:root {
    --vermelho: #ff0000;
    --branco: #ffffff;
    --preto: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/background.jpg);
}

.menu {
    width: 100%;
    height: 90px; /* ajuste conforme necess치rio */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--preto);
    color: var(--branco);
    border-bottom: 5px solid #fff700;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; /* ajuste conforme necess치rio */
}

.square {
    width: 150px; /* ajuste conforme necess치rio */
    height: 150px; /* ajuste conforme necess치rio */
    border: 1px solid var(--branco);
    background-color: var(--preto);
}

.enemy {
    background-image: url(/assets/images/image01.png);
    background-size: 140px;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 10px;
}
